*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logotipo{
  width: 140px;
  right: 240px;
}

:root{
  --primary-color: #f80;
  --secondary-color: #00498d;
  --dark-primary-color: #e07800;
  --dark-secondary-color: #00315f;
  --ligth-color: #e9e9e9;
  --dark-color: #2c2c2c;
}

body{
  font-size: "arial";
  color: var(--dark-color);
}

a{
  text-decoration: none;
  color: unset;
}

button{
  background-color: transparent;
  border: none;

}

/* personalização do menu de navegação nav */

.nav{
  background-color: #fff;
  padding: 0.01rem;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 10px 0px 10px #ebebeb;
  z-index: 1;

}

.nav .inner-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-inline: auto;

}

/* personalização da lista */

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;

}

/* personalização do carrinho de compras e dos icones */

.nav-icon-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-icon-container svg{
  height: 1.5rem;
}

.nav-icon-container .shopping-cart{
 position: relative;
 cursor: pointer;
}

.nav-icon-container .shopping-cart .products-count{
 content: "";
 position: absolute;
 background-color: #f00;
 width: 1rem;
 height: 1rem;
 bottom: -8px;
 left: -8px;
 border-radius: 50%;
 color: #fff;
 padding: 0.4rem;
 font-size: 0.6rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

/* personalisação do input de pesquisa e do icone */

.search-input-conteiner{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-bottom: 1px solid var(--dark-color);
  padding: 0.5rem;
  margin-right: 1rem;

}

.search-input-conteiner input{
  border: none;
  outline: none;
}

.search-input-conteiner svg{
  height: 1rem;
  color: #808080;
}

/* animação da lista ao passar o mouse em cima */

nav ul li:hover{
 transform: translateY(-4px) ;
 transition: all 0.2s ;
 font-weight: bold;
}

.menu-button{
  display: none;
}

/* fim navbar */

/* personalização header */
header{
  background-color: var(--primary-color);

}

header .inner-content{
  max-width: 1600px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 4rem;
  gap: 4rem;

}

header .left-side{
  color: #fff;
}

header .left-side h2{
  font-size: 2.5rem;
}

header .left-side p{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.see-more-btn {
  background-color: var(--primary-color);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.2s;
  display: flex;
  max-width: 130px;
  justify-content: space-between;
  align-items: center;
}

.see-more-btn:hover{
  background-color: var(--dark-primary-color);
  max-width: 200px;

}

.img-side{
  width: 100%;
 
}
/* fim header */

/* media nav e header */
@media(max-width: 920px){
  .nav h1{
    font-size: 1.2rem;
  }

  header .inner-content{
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;

  }

  header .left-side h2{
    font-size: 1.8rem;

  }

  nav{
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding-bottom: 1rem;
    display: none;
  }

  nav.show{
    display: block;
  }

  nav ul{
    flex-direction: column;
    gap: 1.5rem;
  }

  nav ul li{
    text-align: center;
    padding: 0.8rem;
    
  }

  .menu-button{
    display: inline;
  }
}

/* trabalhando a responsividade ao alterar o tamanho da tela */

@media(max-width: 780px){
  header .inner-content{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 580px){
  .search-input-conteiner{
    display: none;
  }
}


/* estilização dos produtos, botoes, preços, textos e imagens */

.page-inner-content{
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;

}

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  place-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;

}

.product {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.product .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

}

.product .name {
  font-weight: bold;
  margin-top: 0.4rem;

}

.product .price {
  margin-top: 0.4rem;
}

.product .price span {
  font-weight: bold;
}

.product .rate, .depoimento .rate {
  color: var(--dark-secondary-color);
  font-size: 1.3rem;
  
}


.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;

}
.btn-icon:hover {
  background-color: var(--dark-primary-color);
}

.add-to-cart-btn{
  background-color: var(--secondary-color);
}

.add-to-cart-btn:hover{
  background-color: var(--dark-secondary-color);
}

.section-title {
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.section-title h3 {
  text-align: center;
  font-size: 1.8rem;
}

.section-title .underline{
  width: 280px;
  height: 2px;
  background-color: var(--dark-primary-color);
  margin: 4px auto 0 auto;
}


/* personalização da seção exclusiva */

.exclusive-section{
  background-color: var(--primary-color);
}

.exclusive-section .content {
  display: flex;
  align-items: center;
  color:#fff;
  flex-direction: row-reverse;
  padding: 5rem 1rem;
}

.exclusive-section .content .left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exclusive-section .content .right-side img {
  max-width: 500px;

}



/* Estilização da seção de depoimentos */

.depoimentos{
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.depoimento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
  text-align: center;
  box-shadow: 0px 0px 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s;
  gap: 0.6rem;
}

.depoimento:hover{
  transform: translateY(-5px);
}

.depoimento p:first-child{
  font-weight: bold;
  font-size: 3rem;
  color: var(--dark-primary-color);
  line-height: 2rem;
}



/* estilização do footer */

footer{
  background-color: var(--dark-secondary-color);
  color: #fff;
}

footer .content{
  display: flex;
  padding: 1rem 1rem;
  gap: 1.2rem;
  justify-content: center;
}

.download-options > * {
  margin: 1rem 0;
}

.download-options > p:first-child {
  font-weight: bold;

}
.download-options > div {
  display: flex;
  gap: 1rem;
}

.download-options > div img {
  max-width: 100px;
}

.logo-footer{
  text-align: center;
}

.logo-footer p{
  max-width: 480px;
  margin-top: 0.2rem;
  margin-inline: auto;
}

footer .links h3 {
  margin-bottom: 0.8rem;
}

footer .links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr{
  margin-inline: 4rem;
}

.copyright {
  padding: 2rem 0;
  text-align: center;
}


/* responsividade */

@media(max-width: 800px) {
  .section-title h3 {
    font-size: 1.2rem;
  }

  .section-title .underline{
  width: 180px;
  height: 2px;
  }
  
  .product .name
  .product .price
  .product .rate {
    max-width: 1rem;
    overflow: hidden;
    font-size: 0.8rem;

  }

  .exclusive-section .content {
    flex-direction: column-reverse;
  }

  .exclusive-section .content .right-side img{
    max-width: 250px;
    margin-bottom: 3rem;
  }

  .depoimentos{
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    margin-inline: auto;
  }

  footer .content {
    display: inline;
  }

  footer .content > div {
    padding: 1rem;
  }

  .download-options > div img {
    width: 120px;
  }

  .copyright {
    font-size: 0.8rem;
  }

  footer .links, .links ul {
    text-align: center;
  }

 }

 /* estilização so sidebar carrinho de compras */

 .sidebar-cart {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 5px 5px 50px var(--dark-color);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: none;
 }

 .sidebar-cart::-webkit-scrollbar{
  display: none;
 }

 .sidebar-cart .sidebar-product {
  display: flex;
  width: 100%;
  border-bottom:  1px solid var(--ligth-color);
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
 }

 .sidebar-cart .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
 }

 .sidebar-cart .top button, .sidebar-cart .sidebar-product button {
  background-color: var(--dark-color);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
 }

 .sidebar-cart .sidebar-product button {
  width: 1rem;
  height: 1rem;
 }

 .sidebar-cart .sidebar-product img {
  height: 75px;
 }

 .sidebar-cart .total-container {
  margin-block: 1rem;
 }

 .sidebar-cart .left-side {
  display: flex;
  gap: 0.5rem;
 }

 .sidebar-cart .left-side .detalhes {
  display: flex;
  flex-direction: column;
 }

 .sidebar-cart .left-side .detalhes p {
  font-size: 0.8rem;
 }

 .sidebar-cart .left-side input {
  width: 55px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.2rem;
 }

 .sidebar-cart .show {
  display: block;
 }